name: Event Monitor

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Run Script
        env:
          COOKIE: ${{ secrets.COOKIE }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: node index.js

      - name: Commit updated seen.json
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add seen.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Update seen events"
          git push
